In [6]:
import pandas as pd

In [14]:
titanic_df = pd.read_csv("datasets/titanic_preprocessed.csv")
titanic_df.head()

,Survived,Pclass,Sex,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,1,1,0,7.2500,0,0,1
1,1,1,0,1,0,71.2833,1,0,0
2,1,3,0,0,0,7.9250,0,0,1
3,1,1,0,1,0,53.1000,0,0,1
4,0,3,1,0,0,8.0500,0,0,1

In [15]:
titanic_df.shape

(889, 9)

In [16]:
#Training machine learning model will be perfromed training data
# We hold out a fraction of original dataset to measure how our model performs on instances it hasn't encountered during training

from sklearn.model_selection import train_test_split
 
X = titanic_df.drop('Survived', axis=1) # Features: all columns except survived
Y = titanic_df['Survived'] # Label our ML model predict is survived

# this function returns features for training and test dataset
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size=0.2)

In [17]:
x_train.shape, y_train.shape # dataset to train our model

((711, 8), (711,))

In [18]:
x_test.shape, y_test.shape # test instances to measure our model

((178, 8), (178,))

In [20]:
# LogisticRegression model is to be build and trained 

from sklearn.linear_model import LogisticRegression

# libLinear algorithm used 
logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [21]:
# pass features of test and see how it predicts
y_pred = logistic_model.predict(x_test)

In [23]:
pred_results = pd.DataFrame({'y_test' : y_test, 'y_pred': y_pred})

In [24]:
pred_results.head()

     y_test  y_pred
273       1       1
353       0       0
851       1       1
622       0       0
1         1       1

In [25]:
# Measure classification model accuracy
from sklearn.metrics import accuracy_score

In [26]:
acc = accuracy_score(y_test, y_pred)

In [28]:
print('accuracy_score:', acc)

accuracy_score: 0.7247191011235955